// header {
//     width:100%;
//     height:100px;
//     position:fixed;
//     top:0px;
//     z-index:3;  

// }

//OFIR, I COMMENT THE HEADER FUNCTION UP BECAUSE I COULDNT 
//SEE WHAT IM RENDERING, OR




// .sticky-search {
//     display:none;
//     position:fixed;
//     top:0px;
//     left:0px;
//     right:0px;
//     background:blue;
//     padding:10px;
// }

.app-header{
    width: 100%;
    // background-color: white;
    height:80px;
    // &.change_color{
    //     background-color: white;
    //     width: 100%;
    //     p{
    //         color: black;
    // position: fixed;
    top:0px;
    z-index:3; 
    transition: background-color .5s;

    &.change-color{
        background-color: white;
        width: 100%;
        position: fixed;
        p{
            color: black;

        }
    //     }


}
}

.header-flex{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-header  {
    display: flex;
    text-align: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    
} 


.search-box{
    align-items: center;
    border: 0.5px solid #e4e5e7;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    height: 2em;
}





.main-navbar{
    width:100%;
    height:100px;
    position:fixed;
    top:0px;
    z-index:3;
    background-color: transparent;
    color: black;
    border-bottom: none;
    transition: background-color .5s ease;

}

.search-bar-header{
    // display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
}

.search-header{
// visibility:visible; 
opacity: 1;

// position:fixed;
left:10%;
top: 1%;
    input {
    // border: none;
    font-size: .8em;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 6px;
    padding-left:30px;


};
}
.search-header-btn{
    font-size: 12px;
    height: 30px;
    padding: 7px 17px;
    text-shadow: none;
    background-color: #1dbf73;
    color: #fff;
    border: 1px solid transparent;
    transition: 70ms cubic-bezier(.75,0,.25,1);
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.search-header-box{
    visibility:visible; 
    // opacity: 1;

}

.sticky-search {
    display: flex;
    top:0px;
    left:0px;
    right:0px;
    padding:10px;
    margin: -30px;
  
        img {
            margin-left: 4px;
            position:absolute;
            bottom:30px;
            width:20px;
            height:20px;
        }
    }


.logo-and-search {
    display: flex;
    align-items: center;
    gap:34px;


}

.logo {
    text-decoration: none;
    // font-family: sans-serif;
    font-family: 'macan-bold';
    color: black;
    letter-spacing: -1.5px;
    font-size: 32px;
    font-weight: 400;
  }


.logo-part {
    p{
        margin: 0;
        transition: color .5s;
        position: relative;

    }
}

.main-header h1 {
    font-family: 'Cabin', sans-serif;

    .point {
        color: #1dbf73;
        border-radius: 50%;
        font-size: 50px;
        height: fit-content;
        position: absolute;
        right: -18px;
        bottom: -8px;
        font-family: "Courier New", Courier, monospace;
    }      
}

nav {
    display: flex;
    gap: 24px;
    font-size: .875rem;
    font-weight: 700;
    line-height: 100%;    
    // font-family: 'helvetica';
    font-family: 'Macan-regular';
    align-items: center;

    
    a {
        text-decoration: none;
        color: #62646a;
        ;
        font-weight: 600;
        font-size: 16px;
        transition: color .3s;

        header.change-color & {
            color: #62646a;
        }

    }
}

.join {
    border: 1px solid #1dbf73;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    // margin-left: 1em;
    padding: 7px 20px;
    transition: all .2s ease;
    color: #1dbf73;
}

.join:hover {
    background-color: #1dbf73;
    border-color: #1dbf73;
    color: white;
}

footer {
    border-top: 1px solid #e4e5e7;
    width:100%;
    height:60px;  
    background:white;
    // grid-column: 1/-1;
    

    h1 {
        font-size: .875rem;
        font-weight: 700;
        line-height: 100%;    
        font-family: 'Cabin', sans-serif;
        text-align: center;
    }
}
 .bg-img {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;

 }

