table {
<<<<<<< HEAD
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c8ffc8;
}

.order-app {
  min-height: 100vh;

}
=======
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c8ffc8;
  }
>>>>>>> ab6c45e58c6e879049f1a041ca570be3d3f2d6ea
