.user-profile-main-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
}

.user-profile-info-card {
    background-color: white;
    height: 420px;
    width: 400px;
}
.edit-profile {
    img {
        height: 30px;
        width: 30px;
    }
}